.div1 {
    width: auto;
    height: 720px;
    /* background-color: rgb(148, 203, 255); */
    background-color: #abceea;
    color: rgb(44, 92, 211);
    text-align: center;
}

#cesese{
    height: 45px;
    width: 45px;
    color: wheat;
}

p1,p2 {
    justify-content: center;
    vertical-align: middle;
    height: 300px;
}

p1{
    display: inline-block;
    font-size: 80px;
    font-family: 'Pacifico', cursive;
    padding-top: 168px;
    margin-bottom: -126px;
}

p2{
    font-size: 70px;
    font-family: 'Titillium Web', sans-serif;
}

body{
    margin: 0px;
    background-color: #EEE3CB;
}

.div2{
    width: auto;
    height: 720px;
    text-align: center;
}

.hello{
    margin-top: 0px;
    padding-top: 25px;
    margin-bottom: 20px;
    font-size: 43px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(44, 92, 211);
}

#portret{
    height: 202px; 
    max-width: 301px;
    border-radius: 50%;
    margin-bottom: 75px;
    padding-top: 25px;
}

h3{
    font-family: 'Times New Roman', Times, serif;
}


.cercuriJos{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* background-color: rgb(219, 219, 219); */
    background-color: #967E76;
    margin-top: 150px;
    display: inline-block;
}

.cercuriSus{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* background-color: rgb(219, 219, 219); */
    background-color: #967E76;
    margin-top: 25px;
    display: inline-block;
}

.div3{
    width: auto;
    height: 720px;
    /* background-color: rgb(219, 219, 219); */
    background-color: #D7C0AE;
}

#semne{
    width: 150px;
    height:150px;
    background-color: #ff9977;
    border-radius: 49%;
    display: inline-block;
    border: 1px solid black;
}

.div4{
    width: auto;
    height: 360px;
    text-align: center;
    background-color: #EEE3CB;
}

#getInTouch{
    font-size: 43px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(44, 92, 211);
}

.div5{
    width: auto;
    height: 360px;
    text-align: center;
    background-color: #D7C0AE;
}

.button{
    background-color: #ff9977;
    border-radius: 25px;
    height: 50px;
    width: 120px;
    cursor: pointer;
}

.butoane{
    display: inline-block;
    margin-top: 125px;
    vertical-align: middle;
}

#linkedin{
    font-size: 25px;
    background: transparent;
    border: none;
    color: rgb(44, 92, 211);
}

#facebook{
    font-size: 25px;
    border: none;
    background: transparent;
    color: rgb(44, 92, 211);
}

#insta{
    font-size: 25px;
    background: transparent;
    border: none;
    color: rgb(44, 92, 211);  
}

a{
    text-decoration: none;
}
